<% content_for :title, "New Post" %>
<%= render 'users/user_info' %>
<div class="container mt-5">
<h1 class="text-xl">New Post</h1>
<%= form_with model: @new_post, url: user_posts_path do |form|  %>
  <div class="form-group">
    <label for="post-title">Post title</label>
    <%= form.text_field :title, id: "post-title", class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="post-text">Post text</label>
    <%= form.text_area :text, id: "post-text", class: "w-100", rows: "7" %>
  </div>

  <div>
    <%= form.button "Create Post", type: "submit", class: "btn btn-success float-right" %>
  </div>
<% end %>
</div>
