<% content_for :title, "#{@user.name} | #{@post.title}" %>
<%= render 'users/user_info' %>
<h1>Posts#show</h1>
<% if flash[:success] %>
  <div class="notice"><%= flash[:success] %></div>
<% end %>

<section class="container">
  <section class="post">
    <%= render "user_post", post: @post %>
  </section>
  <div class="user-post-comments">
    <% @comments.each do |comment| %>
      <div class="post-comment">
        <p>
          <span><strong><%= comment.author.name %>:</strong></span>
          <span><%= comment.text %></span>
        </p>
      </div>
    <% end %>
  <div>
</section>

<div class="d-flex flex-row justify-content-end">

  <%= link_to 'Add Comment', new_user_post_comment_path(@user.id, @post.id), class: 'btn btn-primary'  %>


<%= render "likes/add_like"%>
</div>
